/* Some CSS Setup - nothing to do with flexbox */
html {
    box-sizing: border-box;
}
  
*, *:before, *:after {
    box-sizing: inherit;
}
  
body {
    background-color: ivory;
    font-family: sans-serif;
    margin: 0;
}

.wrapper {
    border: red solid 1px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-between;
    width: 100%;
}

.splash {
    background-color: white;
    border-radius: 4px;
    box-shadow: 1px 1px 10px 1px #EEEEE0;
    display: flex;
    flex: 1, 1, 453px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: space-between;
    margin: 10%;
    max-width: 906px;
    width: 80vw;
}

.row {
    display: flex;
    justify-content: center;
    margin: 15px 5px;
}

.close {
    justify-self: flex-start;
}

img {
    height: 100%;
    width: 100%;
    margin: 0px -20px 0px 0px;
}